{{define "header" }}

<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/favicon.ico">
        <title>{{.title}}</title>
        <link href="/static/css/main.css" rel="stylesheet">
        <script src="/static/js/index.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav">
                        <li class="{{if eq .tplName "index"}}active{{end}}"><a href="/">Home</a></li>
                        <li class="{{if eq .tplName "start"}}active{{end}}"><a href="/home/start">Start</a></li>
                        <li class="{{if eq .tplName "todo"}}active{{end}}"><a href="/home/todo">Example</a></li>
                        <li class="{{if eq .tplName "api"}}active{{end}}"><a href="/home/api">API</a></li>
                        <li class="{{if eq .tplName "media"}}active{{end}}"><a href="https://github.com/owner888/kaligo" target="_blank">GitHub</a></li>                        
                    </ul>
                </nav>
            </div>
            <div class="content">

{{end}}