html, 
body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.index-title {
    text-align: center;
}

.center {
    text-align: center;
}
.footer {
    height: 50px;
}