html,
body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav li {
    margin-right: 40px;
}

.index-title {
    text-align: center;
}

.center {
    text-align: center;
}

.header {
    height: 50px;
    display: flex;
    justify-content: center;
}

.footer {
    height: 50px;
}

#todo {
    width: 100%;
    max-width: 640px;
    align-self: flex-start;
    padding-top: 44px;
}

#todo .table {
    padding-top: 20px;
}

#todo .el-dialog {
    width: 420px;
}
#todo .el-input {
    width: 100%;
}